<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Users</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1> Users</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Persal</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Cellphone</th>
                   
                </tr>
            </thead>
            <tbody>
                
                <tr th:each="user : ${users}">
                    <td th:text="${user.persal}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.surname}"></td>
                    
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.cellphone}"></td>

                </tr>
            </tbody>
        </table>
        <a href="/admin/welcomeAdmin">Back</a>
    </div>
</body>
</html>